@page
@model CourseHub.UI.Pages.User.ChangePasswordModel
@{
}


<form method="post">
    <div>
        <label asp-for="CurrentPassword">Mật khẩu hiện tại</label>
        <input asp-for="CurrentPassword" id="currentPassInp" type="password" />
        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
    </div>
    <div>
        <label asp-for="NewPassword">Mật khẩu mới</label>
        <input asp-for="NewPassword" id="newPassInp" type="password" />
        <span class="text-danger" asp-validation-for="NewPassword"></span>
    </div>
    <div>
        <label asp-for="RePassword">Nhập lại mật khẩu mới</label>
        <input asp-for="RePassword" id="newPassInp" type="password" />
        <span class="text-danger" asp-validation-for="RePassword"></span>
    </div>

    <div>
        <button type="submit">Đổi mật khẩu</button>
    </div>
</form>