@page
@model CourseHub.UI.Pages.User.ForgotPasswordModel

@{
    Layout = "_OuterAuthLayout";
    ViewData[Global.TITLE] = "Forgot Password";
}

<!----------------------------- Form box ----------------------------------->
<form method="post">
    <div class="form-box">
        <div class="register-container" id="register">
            <header style="font-size: 24px">Request password reset email</header>

            @await Html.PartialAsync("Shared/_Alert")

            <div class="input-box">
                <input asp-for="Email" type="email" class="input-field" placeholder="Email">
                <i class="bx bx-envelope"></i>
            </div>

            <div class="input-box">
                <input type="submit" class="submit" value="Send">
            </div>
        </div>
    </div>
</form>