@page
@model CourseHub.UI.Pages.User.ForgotPasswordModel
@{
}

<div>Nhập email của bạn</div>
<div>
    <form method="post">
        <input asp-for="Email" type="email" />
        <button type="submit">Gửi</button>
    </form>
</div>