@page
@model CourseHub.UI.Pages.User.ResetPasswordModel
@{
}


<div class="d-flex justify-content-center align-items-center">
    <div asp-validation-summary="All" class="alert alert-danger mt-5 w-75 fs-4 loginError text-center"></div>
</div>

<form method="post">
    <input asp-for="ResetPasswordDto.Email" hidden value="@Model.Email">
    <input asp-for="ResetPasswordDto.Token" hidden value="@Model.Token">
    <input asp-for="ResetPasswordDto.NewPassword" type="password">
    <input asp-for="RePassword" type="password">
    <button type="submit">Reset Password</button>
</form>

<script>
    let errorBox = document.querySelector(".loginError");
    if (errorBox.innerHTML == '<ul><li style="display:none"></li>\n</ul>')
        errorBox.classList.add("d-none");
    else
        errorBox.classList.remove("d-none");
</script>