@page
@model CourseHub.UI.Pages.User.ResetPasswordModel
@{
    Layout = "_OuterAuthLayout";
    ViewData[Global.TITLE] = "Reset Password";
}





<!----------------------------- Form box ----------------------------------->
<form method="post">
    <div class="form-box">
        <div class="register-container" id="register">
            <header>Reset Password</header>

            @await Html.PartialAsync("Shared/_Alert")

            <div asp-validation-summary="All" class="alert alert-danger mt-5 fs-4 pageError text-center"></div>

            <input asp-for="ResetPasswordDto.Email" hidden value="@Model.Email">
            <input asp-for="ResetPasswordDto.Token" hidden value="@Model.Token" >

            <div class="input-box">
                <input asp-for="ResetPasswordDto.NewPassword" type="password" class="input-field" placeholder="Password">
                <i class="bx bx-lock-alt"></i>
            </div>

            <div class="input-box">
                <input asp-for="RePassword" type="password" class="input-field" placeholder="Retype Password">
                <i class="bx bx-lock-alt"></i>
            </div>

            <div class="input-box">
                <input type="submit" class="submit" value="Reset Password">
            </div>
        </div>
    </div>
</form>

<script>
    let errorBox = document.querySelector(".pageError");
    if (errorBox.innerHTML == '<ul><li style="display:none"></li>\n</ul>')
        errorBox.classList.add("d-none");
    else
        errorBox.classList.remove("d-none");
</script>