@page
@using CourseHub.UI.Areas.Admin.Helpers;
@{
    ViewData[AdminGlobal.TITLE] = "Admin View";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="row no-gutters align-items-center">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <a asp-area="Admin" asp-page="@AdminGlobal.PAGE_USERS_INDEX" class="nav-link">
                                        <i class="fas fa-user"></i>
                                        <span>Users</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <a asp-area="Admin" asp-page="AdminGlobal.PAGE_INDEX_COURSES" class="nav-link">
                                    <i class="fas fa-fw fa-book-open"></i>
                                    <span>Courses</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <a asp-area="Admin" asp-page="@AdminGlobal.PAGE_NOTIFICATIONS_INDEX" class="nav-link">
                                            <i class="fas fa-fw fa-book-open"></i>
                                            <span>Notifications</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="row no-gutters align-items-center">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <a asp-area="Admin" asp-page="@AdminGlobal.PAGE_CREATE_ADMIN_INDEX" class="nav-link">
                                        <i class="fas fa-user"></i>
                                        <span>Create Admin</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="row no-gutters align-items-center">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <a asp-area="Admin" asp-page="@AdminGlobal.PAGE_BLOCK_USERS_ACCOUNT_INDEX" class="nav-link">
                                        <i class="fas fa-user"></i>
                                        <span>Block User</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="row no-gutters align-items-center">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <a asp-area="Admin" asp-page="AdminGlobal." class="nav-link">
                                        <i class="fas fa-fw fa-tachometer-alt"></i>
                                        <span>Course Reviews</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <!--<div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="row no-gutters align-items-center">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <a asp-area="Admin" asp-page="AdminGlobal" class="nav-link">
                                        <i class="fas fa-fw fa-tachometer-alt"></i>
                                        <span> Reviews</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>