@page
@model CourseHub.UI.Areas.Admin.Pages.Users.IndexModel
@{
    ViewData[AdminGlobal.TITLE] = "Admin | Users Management";
}




<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">Fullname</th>
                            <th class="text-center">Date of Birth</th>
                            <th class="text-center">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Data is null)
                        {
                            <tr class="error">Error</tr>
                        }
                        else
                        {
                            foreach (var user in Model.Data.Items)
                            {
                                <tr>
                                    <td>@user.FullName</td>
                                    <td>@user.DateOfBirth</td>
                                    <td>@user.Email</td>

                                    <!--
                                    <td class="d-flex justify-content-center">
                                        <a asp-page="user-details" asp-route-userId="@user.Id"
                                            asp-page-handler="userdetails"
                                            class="btn btn-outline-primary">
                                            Detail
                                        </a>
                                    </td>-->
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
