@page
@model CourseHub.UI.Pages.Shared._403Model
@{
    ViewData[Global.TITLE] = "Forbidden";
}



<style>
    .error {
        font-size: 10em;
        line-height: 1;
        letter-spacing: 10px;
        color: #e74c3c;
        position: relative;
    }

    .error::before, .error::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        color: #f3f4f6;
    }

    .error::before {
        left: 2px;
        text-shadow: 1px 0 #e74c3c;
    }

    .error::after {
        left: -2px;
        text-shadow: -1px 0 #e74c3c;
    }

    .no-margin {
        margin: 0;
    }
</style>

<div class="container-fluid">

    <!-- 401 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="403">403</div>
        <p class="no-margin lead mb-5">Forbidden</p>
        <p class="no-margin mb-0">You do not have permission to view the page</p>
        <a href="/">&larr; Back to index</a>
    </div>

</div>
