@page
@model CourseHub.UI.Pages.Shared._404Model
@{
    ViewData[Global.TITLE] = "404 Not Found";
}

<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead mb-5">Page Not Found</p>
        <p class="mb-0">It looks like you found a glitch in the matrix...</p>
        <a href="/">&larr; Back to index</a>
    </div>

</div>
